<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="master" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <base th:href="@{/}">
</head>

<body>
<main role="main" layout:fragment="main">
    <div>
        <h1>FIFASKILLER</h1>
        <p>Questa è la fantastica pagina iniziale dello Startup Garage.</p>
        <hr>
        <h3>Descrizione</h3>
        <p>Blablablabla</p>
    </div>
</main>
</body>
</html>